/* Pregenerated government colors file */
										
.Alpha-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Alpha-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Alpha-text {
	color: rgb(1,1,1);
}
													
.Author-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Author-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Author-text {
	color: rgb(1,1,1);
}
													
.Bad-Trip-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Bad-Trip-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Bad-Trip-text {
	color: rgb(1,1,1);
}
													
.Bounty-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Bounty-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Bounty-text {
	color: rgb(1,1,1);
}
													
.Bounty-_Disguised_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Bounty-_Disguised_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Bounty-_Disguised_-text {
	color: rgb(1,1,1);
}
													
.Bounty-Hunter-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Bounty-Hunter-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Bounty-Hunter-text {
	color: rgb(199,0,0);
}
													
.Bounty-Hunter-that-Won-t-Enter-Hai-Space-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Bounty-Hunter-that-Won-t-Enter-Hai-Space-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Bounty-Hunter-that-Won-t-Enter-Hai-Space-text {
	color: rgb(199,0,0);
}
													
.Builder-system {
	stroke: rgb(232,33,209);
	fill: black;
}
.Builder-system.unoccupied {
	fill: rgb(232,33,209);
	stroke: rgb(102,102,102);
}
.Builder-text {
	color: rgb(232,33,209);
}
													
.Bunrodea-system {
	stroke: rgb(89,166,77);
	fill: black;
}
.Bunrodea-system.unoccupied {
	fill: rgb(89,166,77);
	stroke: rgb(102,102,102);
}
.Bunrodea-text {
	color: rgb(89,166,77);
}
													
.Bunrodea-_Erabu_-system {
	stroke: rgb(89,166,77);
	fill: black;
}
.Bunrodea-_Erabu_-system.unoccupied {
	fill: rgb(89,166,77);
	stroke: rgb(102,102,102);
}
.Bunrodea-_Erabu_-text {
	color: rgb(89,166,77);
}
													
.Bunrodea-_Guard_-system {
	stroke: rgb(89,166,77);
	fill: black;
}
.Bunrodea-_Guard_-system.unoccupied {
	fill: rgb(89,166,77);
	stroke: rgb(102,102,102);
}
.Bunrodea-_Guard_-text {
	color: rgb(89,166,77);
}
													
.Bunrodea-_Megasa_-system {
	stroke: rgb(89,166,77);
	fill: black;
}
.Bunrodea-_Megasa_-system.unoccupied {
	fill: rgb(89,166,77);
	stroke: rgb(102,102,102);
}
.Bunrodea-_Megasa_-text {
	color: rgb(89,166,77);
}
													
.Coalition-system {
	stroke: rgb(255,153,178);
	fill: black;
}
.Coalition-system.unoccupied {
	fill: rgb(255,153,178);
	stroke: rgb(102,102,102);
}
.Coalition-text {
	color: rgb(255,153,178);
}
													
.Conlatio-system {
	stroke: rgb(128,0,229);
	fill: black;
}
.Conlatio-system.unoccupied {
	fill: rgb(128,0,229);
	stroke: rgb(102,102,102);
}
.Conlatio-text {
	color: rgb(128,0,229);
}
													
.Deep-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Deep-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Deep-text {
	color: rgb(1,1,1);
}
													
.Deep-Security-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Deep-Security-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Deep-Security-text {
	color: rgb(1,1,1);
}
													
.Derelict-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Derelict-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Derelict-text {
	color: rgb(1,1,1);
}
													
.Derelict-_Boardable_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Derelict-_Boardable_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Derelict-_Boardable_-text {
	color: rgb(1,1,1);
}
													
.Drak-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Drak-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Drak-text {
	color: rgb(1,1,1);
}
													
.Drak-_Hostile_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Drak-_Hostile_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Drak-_Hostile_-text {
	color: rgb(1,1,1);
}
													
.Drak-_Incipias_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Drak-_Incipias_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Drak-_Incipias_-text {
	color: rgb(1,1,1);
}
													
.Elenctic-Commune-system {
	stroke: rgb(214,156,94);
	fill: black;
}
.Elenctic-Commune-system.unoccupied {
	fill: rgb(214,156,94);
	stroke: rgb(102,102,102);
}
.Elenctic-Commune-text {
	color: rgb(214,156,94);
}
													
.Ember-Waste-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Ember-Waste-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Ember-Waste-text {
	color: rgb(1,1,1);
}
													
.Escort-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Escort-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Escort-text {
	color: rgb(1,1,1);
}
													
.Escort-_Betraying_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Escort-_Betraying_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Escort-_Betraying_-text {
	color: rgb(1,1,1);
}
													
.Forest-_Prey_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Forest-_Prey_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Forest-_Prey_-text {
	color: rgb(1,1,1);
}
													
.Free-Worlds-system {
	stroke: rgb(15,173,0);
	fill: black;
}
.Free-Worlds-system.unoccupied {
	fill: rgb(15,173,0);
	stroke: rgb(102,102,102);
}
.Free-Worlds-text {
	color: rgb(15,173,0);
}
													
.Free-Worlds-that-won-t-enter-wormhole-system {
	stroke: rgb(15,173,0);
	fill: black;
}
.Free-Worlds-that-won-t-enter-wormhole-system.unoccupied {
	fill: rgb(15,173,0);
	stroke: rgb(102,102,102);
}
.Free-Worlds-that-won-t-enter-wormhole-text {
	color: rgb(15,173,0);
}
													
.Gegno-system {
	stroke: rgb(191,150,69);
	fill: black;
}
.Gegno-system.unoccupied {
	fill: rgb(191,150,69);
	stroke: rgb(102,102,102);
}
.Gegno-text {
	color: rgb(191,150,69);
}
													
.Gegno-Scin-system {
	stroke: rgb(171,186,112);
	fill: black;
}
.Gegno-Scin-system.unoccupied {
	fill: rgb(171,186,112);
	stroke: rgb(102,102,102);
}
.Gegno-Scin-text {
	color: rgb(171,186,112);
}
													
.Gegno-Scin-_Combative_-system {
	stroke: rgb(171,186,112);
	fill: black;
}
.Gegno-Scin-_Combative_-system.unoccupied {
	fill: rgb(171,186,112);
	stroke: rgb(102,102,102);
}
.Gegno-Scin-_Combative_-text {
	color: rgb(171,186,112);
}
													
.Gegno-Scin-_Neutral_-system {
	stroke: rgb(171,186,112);
	fill: black;
}
.Gegno-Scin-_Neutral_-system.unoccupied {
	fill: rgb(171,186,112);
	stroke: rgb(102,102,102);
}
.Gegno-Scin-_Neutral_-text {
	color: rgb(171,186,112);
}
													
.Gegno-Vi-system {
	stroke: rgb(173,102,102);
	fill: black;
}
.Gegno-Vi-system.unoccupied {
	fill: rgb(173,102,102);
	stroke: rgb(102,102,102);
}
.Gegno-Vi-text {
	color: rgb(173,102,102);
}
													
.Gegno-Vi-_Combative_-system {
	stroke: rgb(173,102,102);
	fill: black;
}
.Gegno-Vi-_Combative_-system.unoccupied {
	fill: rgb(173,102,102);
	stroke: rgb(102,102,102);
}
.Gegno-Vi-_Combative_-text {
	color: rgb(173,102,102);
}
													
.Gegno-Vi-_Duelist-A_-system {
	stroke: rgb(173,102,102);
	fill: black;
}
.Gegno-Vi-_Duelist-A_-system.unoccupied {
	fill: rgb(173,102,102);
	stroke: rgb(102,102,102);
}
.Gegno-Vi-_Duelist-A_-text {
	color: rgb(173,102,102);
}
													
.Gegno-Vi-_Duelist-B_-system {
	stroke: rgb(173,102,102);
	fill: black;
}
.Gegno-Vi-_Duelist-B_-system.unoccupied {
	fill: rgb(173,102,102);
	stroke: rgb(102,102,102);
}
.Gegno-Vi-_Duelist-B_-text {
	color: rgb(173,102,102);
}
													
.Gegno-Vi-_Neutral_-system {
	stroke: rgb(173,102,102);
	fill: black;
}
.Gegno-Vi-_Neutral_-system.unoccupied {
	fill: rgb(173,102,102);
	stroke: rgb(102,102,102);
}
.Gegno-Vi-_Neutral_-text {
	color: rgb(173,102,102);
}
													
.Hai-system {
	stroke: rgb(219,122,201);
	fill: black;
}
.Hai-system.unoccupied {
	fill: rgb(219,122,201);
	stroke: rgb(102,102,102);
}
.Hai-text {
	color: rgb(219,122,201);
}
													
.Hai-_Friendly-Unfettered_-system {
	stroke: rgb(140,69,194);
	fill: black;
}
.Hai-_Friendly-Unfettered_-system.unoccupied {
	fill: rgb(140,69,194);
	stroke: rgb(102,102,102);
}
.Hai-_Friendly-Unfettered_-text {
	color: rgb(140,69,194);
}
													
.Hai-_Unfettered-Civilians_-system {
	stroke: rgb(140,69,194);
	fill: black;
}
.Hai-_Unfettered-Civilians_-system.unoccupied {
	fill: rgb(140,69,194);
	stroke: rgb(102,102,102);
}
.Hai-_Unfettered-Civilians_-text {
	color: rgb(140,69,194);
}
													
.Hai-_Unfettered-Wanderer-Tribute_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Hai-_Unfettered-Wanderer-Tribute_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Hai-_Unfettered-Wanderer-Tribute_-text {
	color: rgb(1,1,1);
}
													
.Hai-_Unfettered_-system {
	stroke: rgb(140,69,194);
	fill: black;
}
.Hai-_Unfettered_-system.unoccupied {
	fill: rgb(140,69,194);
	stroke: rgb(102,102,102);
}
.Hai-_Unfettered_-text {
	color: rgb(140,69,194);
}
													
.Hai-_Wormhole-Access_-system {
	stroke: rgb(219,122,201);
	fill: black;
}
.Hai-_Wormhole-Access_-system.unoccupied {
	fill: rgb(219,122,201);
	stroke: rgb(102,102,102);
}
.Hai-_Wormhole-Access_-text {
	color: rgb(219,122,201);
}
													
.Hai-Merchant-system {
	stroke: rgb(219,122,201);
	fill: black;
}
.Hai-Merchant-system.unoccupied {
	fill: rgb(219,122,201);
	stroke: rgb(102,102,102);
}
.Hai-Merchant-text {
	color: rgb(219,122,201);
}
													
.Hai-Merchant-_Human_-system {
	stroke: rgb(219,122,201);
	fill: black;
}
.Hai-Merchant-_Human_-system.unoccupied {
	fill: rgb(219,122,201);
	stroke: rgb(102,102,102);
}
.Hai-Merchant-_Human_-text {
	color: rgb(219,122,201);
}
													
.Hai-Merchant-_Sympathizers_-system {
	stroke: rgb(219,122,201);
	fill: black;
}
.Hai-Merchant-_Sympathizers_-system.unoccupied {
	fill: rgb(219,122,201);
	stroke: rgb(102,102,102);
}
.Hai-Merchant-_Sympathizers_-text {
	color: rgb(219,122,201);
}
													
.Heliarch-system {
	stroke: rgb(255,204,128);
	fill: black;
}
.Heliarch-system.unoccupied {
	fill: rgb(255,204,128);
	stroke: rgb(102,102,102);
}
.Heliarch-text {
	color: rgb(255,204,128);
}
													
.Heliarch-Test-Dummy-system {
	stroke: rgb(255,204,128);
	fill: black;
}
.Heliarch-Test-Dummy-system.unoccupied {
	fill: rgb(255,204,128);
	stroke: rgb(102,102,102);
}
.Heliarch-Test-Dummy-text {
	color: rgb(255,204,128);
}
													
.Hicemus-system {
	stroke: rgb(153,0,102);
	fill: black;
}
.Hicemus-system.unoccupied {
	fill: rgb(153,0,102);
	stroke: rgb(102,102,102);
}
.Hicemus-text {
	color: rgb(153,0,102);
}
													
.Incipias-Civilian-system {
	stroke: rgb(128,0,229);
	fill: black;
}
.Incipias-Civilian-system.unoccupied {
	fill: rgb(128,0,229);
	stroke: rgb(102,102,102);
}
.Incipias-Civilian-text {
	color: rgb(128,0,229);
}
													
.Independent-system {
	stroke: rgb(199,92,92);
	fill: black;
}
.Independent-system.unoccupied {
	fill: rgb(199,92,92);
	stroke: rgb(102,102,102);
}
.Independent-text {
	color: rgb(199,92,92);
}
													
.Independent-_Killable_-system {
	stroke: rgb(199,92,92);
	fill: black;
}
.Independent-_Killable_-system.unoccupied {
	fill: rgb(199,92,92);
	stroke: rgb(102,102,102);
}
.Independent-_Killable_-text {
	color: rgb(199,92,92);
}
													
.Indigenous-Lifeform-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Indigenous-Lifeform-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Indigenous-Lifeform-text {
	color: rgb(1,1,1);
}
													
.Indigenous-Lifeform-_Acheron_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Indigenous-Lifeform-_Acheron_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Indigenous-Lifeform-_Acheron_-text {
	color: rgb(1,1,1);
}
													
.Indigenous-Lifeform-_Astral_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Indigenous-Lifeform-_Astral_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Indigenous-Lifeform-_Astral_-text {
	color: rgb(1,1,1);
}
													
.Ka-het-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Ka-het-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Ka-het-text {
	color: rgb(1,1,1);
}
													
.Ka-het-_Infighting_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Ka-het-_Infighting_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Ka-het-_Infighting_-text {
	color: rgb(1,1,1);
}
													
.Ka-sei-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Ka-sei-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Ka-sei-text {
	color: rgb(1,1,1);
}
													
.Kor-Efret-system {
	stroke: rgb(125,84,176);
	fill: black;
}
.Kor-Efret-system.unoccupied {
	fill: rgb(125,84,176);
	stroke: rgb(102,102,102);
}
.Kor-Efret-text {
	color: rgb(125,84,176);
}
													
.Kor-Mereti-system {
	stroke: rgb(110,122,222);
	fill: black;
}
.Kor-Mereti-system.unoccupied {
	fill: rgb(110,122,222);
	stroke: rgb(102,102,102);
}
.Kor-Mereti-text {
	color: rgb(110,122,222);
}
													
.Kor-Mereti-_Hostile_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Kor-Mereti-_Hostile_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Kor-Mereti-_Hostile_-text {
	color: rgb(1,1,1);
}
													
.Kor-Sestor-system {
	stroke: rgb(255,92,125);
	fill: black;
}
.Kor-Sestor-system.unoccupied {
	fill: rgb(255,92,125);
	stroke: rgb(102,102,102);
}
.Kor-Sestor-text {
	color: rgb(255,92,125);
}
													
.Korath-system {
	stroke: rgb(204,128,26);
	fill: black;
}
.Korath-system.unoccupied {
	fill: rgb(204,128,26);
	stroke: rgb(102,102,102);
}
.Korath-text {
	color: rgb(204,128,26);
}
													
.Korath-_Civilian_-system {
	stroke: rgb(204,128,26);
	fill: black;
}
.Korath-_Civilian_-system.unoccupied {
	fill: rgb(204,128,26);
	stroke: rgb(102,102,102);
}
.Korath-_Civilian_-text {
	color: rgb(204,128,26);
}
													
.Korath-Nanobots-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Korath-Nanobots-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Korath-Nanobots-text {
	color: rgb(1,1,1);
}
													
.Lunarium-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Lunarium-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Lunarium-text {
	color: rgb(1,1,1);
}
													
.Lunarium-_Hidden_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Lunarium-_Hidden_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Lunarium-_Hidden_-text {
	color: rgb(1,1,1);
}
													
.Marauder-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Marauder-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Marauder-text {
	color: rgb(1,1,1);
}
													
.Merchant-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Merchant-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Merchant-text {
	color: rgb(1,1,1);
}
													
.Militia-system {
	stroke: rgb(15,173,0);
	fill: black;
}
.Militia-system.unoccupied {
	fill: rgb(15,173,0);
	stroke: rgb(102,102,102);
}
.Militia-text {
	color: rgb(15,173,0);
}
													
.Navy-_Oathkeeper_-system {
	stroke: rgb(232,107,23);
	fill: black;
}
.Navy-_Oathkeeper_-system.unoccupied {
	fill: rgb(232,107,23);
	stroke: rgb(102,102,102);
}
.Navy-_Oathkeeper_-text {
	color: rgb(232,107,23);
}
													
.Navy-Intelligence-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Navy-Intelligence-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Navy-Intelligence-text {
	color: rgb(1,1,1);
}
													
.Neutral-system {
	stroke: rgb(214,156,94);
	fill: black;
}
.Neutral-system.unoccupied {
	fill: rgb(214,156,94);
	stroke: rgb(102,102,102);
}
.Neutral-text {
	color: rgb(214,156,94);
}
													
.Parrot-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Parrot-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Parrot-text {
	color: rgb(1,1,1);
}
													
.Pirate-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Pirate-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Pirate-text {
	color: rgb(199,0,0);
}
													
.Pirate-_Devil-Run-Gang_-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Pirate-_Devil-Run-Gang_-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Pirate-_Devil-Run-Gang_-text {
	color: rgb(199,0,0);
}
													
.Pirate-_Rival_-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Pirate-_Rival_-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Pirate-_Rival_-text {
	color: rgb(199,0,0);
}
													
.Pug-system {
	stroke: rgb(252,227,178);
	fill: black;
}
.Pug-system.unoccupied {
	fill: rgb(252,227,178);
	stroke: rgb(102,102,102);
}
.Pug-text {
	color: rgb(252,227,178);
}
													
.Pug-_Wanderer_-system {
	stroke: rgb(252,227,178);
	fill: black;
}
.Pug-_Wanderer_-system.unoccupied {
	fill: rgb(252,227,178);
	stroke: rgb(102,102,102);
}
.Pug-_Wanderer_-text {
	color: rgb(252,227,178);
}
													
.Quarg-system {
	stroke: rgb(224,196,0);
	fill: black;
}
.Quarg-system.unoccupied {
	fill: rgb(224,196,0);
	stroke: rgb(102,102,102);
}
.Quarg-text {
	color: rgb(224,196,0);
}
													
.Quarg-_Gegno_-system {
	stroke: rgb(224,196,0);
	fill: black;
}
.Quarg-_Gegno_-system.unoccupied {
	fill: rgb(224,196,0);
	stroke: rgb(102,102,102);
}
.Quarg-_Gegno_-text {
	color: rgb(224,196,0);
}
													
.Quarg-_Hai_-system {
	stroke: rgb(224,196,0);
	fill: black;
}
.Quarg-_Hai_-system.unoccupied {
	fill: rgb(224,196,0);
	stroke: rgb(102,102,102);
}
.Quarg-_Hai_-text {
	color: rgb(224,196,0);
}
													
.Quarg-_Incipias_-system {
	stroke: rgb(224,196,0);
	fill: black;
}
.Quarg-_Incipias_-system.unoccupied {
	fill: rgb(224,196,0);
	stroke: rgb(102,102,102);
}
.Quarg-_Incipias_-text {
	color: rgb(224,196,0);
}
													
.Quarg-_Kor-Efret_-system {
	stroke: rgb(224,196,0);
	fill: black;
}
.Quarg-_Kor-Efret_-system.unoccupied {
	fill: rgb(224,196,0);
	stroke: rgb(102,102,102);
}
.Quarg-_Kor-Efret_-text {
	color: rgb(224,196,0);
}
													
.Remnant-system {
	stroke: rgb(227,97,158);
	fill: black;
}
.Remnant-system.unoccupied {
	fill: rgb(227,97,158);
	stroke: rgb(102,102,102);
}
.Remnant-text {
	color: rgb(227,97,158);
}
													
.Remnant-_Research_-system {
	stroke: rgb(227,97,158);
	fill: black;
}
.Remnant-_Research_-system.unoccupied {
	fill: rgb(227,97,158);
	stroke: rgb(102,102,102);
}
.Remnant-_Research_-text {
	color: rgb(227,97,158);
}
													
.Republic-system {
	stroke: rgb(232,107,23);
	fill: black;
}
.Republic-system.unoccupied {
	fill: rgb(232,107,23);
	stroke: rgb(102,102,102);
}
.Republic-text {
	color: rgb(232,107,23);
}
													
.Republic-_Friendly_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Republic-_Friendly_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Republic-_Friendly_-text {
	color: rgb(1,1,1);
}
													
.Republic-Intelligence-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Republic-Intelligence-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Republic-Intelligence-text {
	color: rgb(1,1,1);
}
													
.Republic-that-won-t-enter-wormhole-system {
	stroke: rgb(232,107,23);
	fill: black;
}
.Republic-that-won-t-enter-wormhole-system.unoccupied {
	fill: rgb(232,107,23);
	stroke: rgb(102,102,102);
}
.Republic-that-won-t-enter-wormhole-text {
	color: rgb(232,107,23);
}
													
.Rulei-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Rulei-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Rulei-text {
	color: rgb(1,1,1);
}
													
.Scar-s-Legion-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Scar-s-Legion-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Scar-s-Legion-text {
	color: rgb(199,0,0);
}
													
.Scar-s-Legion-_Killable_-system {
	stroke: rgb(199,0,0);
	fill: black;
}
.Scar-s-Legion-_Killable_-system.unoccupied {
	fill: rgb(199,0,0);
	stroke: rgb(102,102,102);
}
.Scar-s-Legion-_Killable_-text {
	color: rgb(199,0,0);
}
													
.Sheragi-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Sheragi-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Sheragi-text {
	color: rgb(1,1,1);
}
													
.Silent-Ones-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Silent-Ones-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Silent-Ones-text {
	color: rgb(1,1,1);
}
													
.Smuggler-_Hai-Trafficker_-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Smuggler-_Hai-Trafficker_-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Smuggler-_Hai-Trafficker_-text {
	color: rgb(1,1,1);
}
													
.Syndicate-system {
	stroke: rgb(0,105,181);
	fill: black;
}
.Syndicate-system.unoccupied {
	fill: rgb(0,105,181);
	stroke: rgb(102,102,102);
}
.Syndicate-text {
	color: rgb(0,105,181);
}
													
.Syndicate-_Extremist_-system {
	stroke: rgb(0,105,181);
	fill: black;
}
.Syndicate-_Extremist_-system.unoccupied {
	fill: rgb(0,105,181);
	stroke: rgb(102,102,102);
}
.Syndicate-_Extremist_-text {
	color: rgb(0,105,181);
}
													
.Syndicate-_Hostile_-system {
	stroke: rgb(0,105,181);
	fill: black;
}
.Syndicate-_Hostile_-system.unoccupied {
	fill: rgb(0,105,181);
	stroke: rgb(102,102,102);
}
.Syndicate-_Hostile_-text {
	color: rgb(0,105,181);
}
													
.Team-Blue-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Team-Blue-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Team-Blue-text {
	color: rgb(1,1,1);
}
													
.Team-Red-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Team-Red-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Team-Red-text {
	color: rgb(1,1,1);
}
													
.Test-Dummy-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Test-Dummy-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Test-Dummy-text {
	color: rgb(1,1,1);
}
														
.Unknown-system {
	stroke: rgb(102,102,102);
	fill: black;
}
.Unknown-system.unoccupied {
	fill: rgb(102,102,102);
	stroke: rgb(102,102,102);
}
.Unknown-text {
	color: rgb(102,102,102);
}
													
.Wanderer-system {
	stroke: rgb(178,232,31);
	fill: black;
}
.Wanderer-system.unoccupied {
	fill: rgb(178,232,31);
	stroke: rgb(102,102,102);
}
.Wanderer-text {
	color: rgb(178,232,31);
}
													
.Wormhole-Alpha-system {
	stroke: rgb(1,1,1);
	fill: black;
}
.Wormhole-Alpha-system.unoccupied {
	fill: rgb(1,1,1);
	stroke: rgb(102,102,102);
}
.Wormhole-Alpha-text {
	color: rgb(1,1,1);
}
			