@font-face {
	font-family: 'Ubuntu';
	src:url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--bright: rgb(192, 192, 192);
	--medium: rgb(128, 128, 128);
	--dim: rgb(64, 64, 64);
	--dimmer: rgb(46, 46, 46);
	--faint: rgb(26, 26, 26);
	--dark: rgb(13, 13, 13);
}

body {
	background-color: var(--dimmer);
	color: var(--bright);
	font-family: Ubuntu, sans-serif;
}
.debug {
	color: pink;
}
.error {
	display: block;
}
a:link {
	color: skyblue;
}
a:link:hover, a:hover {
	color: aliceblue;
}
a:link:active, a:active {
	color: white;
}
a:link:visited, a:visited {
	color: lightblue;
}
skySpoilerSwitch {
  display: inline-block;
  position: relative;
  top: 3px;
}

#skyLogo {
	float: left;
	z-index: 10;
	position: absolute;
	margin: 2px;
	padding-top: 5px;
}

#skyInfo {
	font: 18px "Caligula", Georgia, Times, Serif;
	color: #eee;
	height: 22px;
	padding-top: 5px;
	text-align: right;
	margin-right: 20px;
}

#skyTop {
	width: 100%;
	min-width: 780px;
	margin: 0;
	height: 28px;
	padding: 0;
	background: var(--dark);
	z-index: 9;
	position: fixed;
	top: 0px;
	left: 0px;
	display: grid;
	grid-template-columns: auto auto auto;
}
#skyTop ul {
	list-style: none;
	margin: 0 0 0 120px;
	padding: 0;
	height: 100%;
}
#skySpoilerSwitch {
	justify-self: end;
}

#skyTop ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(/common/wood-bg.png) top left no-repeat;
	height: 100%;
}
#skyTop ul.right li {
	float: right;
}

#skyTop ul li a {
	display: block;
	float: left;
	font: 18px "Caligula", Georgia, Times, Serif;
	color: #eed;
	text-decoration: none;
	line-height: 1.5em;
	height: 100%;
	padding: 0 20px 0 20px;
	background: transparent url(/common/wood-bg.png) top right no-repeat;
	cursor: pointer;
}
#skyTop ul li a.icon {
	padding: 0 10px 0 10px;
}
#skyTop ul li a.corelink {
	color: #fea;
}

#skyTop ul li a img {
	border: 0;
}

#content {
	margin-top: 30px;
}

.missionCard {
	display: inline-block;
	border-radius: 10px;
	border: 5px outset aliceblue;
	background-color: darkslateblue;
	min-width: 50em;
}
.missionNameContainer {
	border-radius: 10px;
	background-color: darkslategray;
	font-size: 130%;
}
.missionName {
	color: peachpuff;
}
.missionDisplayName {
	color: linen;
}
.missionDefinition {
	display: none;
	unicode-bidi: embed;
	font-family: monospace;
	/* white-space: pre; */
}
.missionDefinitionHeader {
	cursor: pointer;
}
.eventName {
	font-family: monospace;
}
.missionChain {
	display: grid;
	grid-template-columns: 50em auto;
}
.unlockedMissionsOuter {
	margin-left: 1em;
}
.unlockedMissionsHeader {
	cursor: pointer;
}
.unlockedMissions {
	display: none;
}
.unlockedMissions .missionChain {
	margin: 0.5em;
}

.conversationHeader {
	
}
.conversationText {
	font-family: monospace;
}
.conversationNode {
	display: grid;
	grid-template-columns: 8rem auto;
	border: 3px var(--medium) ridge;
	background-color: var(--dim);
}
.conversationNodeLabel {
	grid-row-start: span 2;
}
.conversationElementText {
	background-color: var(--dimmer);
}
.conversationNodeElement {
	border: 3px var(--medium) groove;
}
.conversationElementConditions {
	border: 2px var(--dark) groove;
}
.conversationElementNext {
	border: 2px var(--dark) groove;
}