{% extends 'sky/base.html.twig' %}

{% block title %}Data ~ Endless Sky Editor{% endblock %}

{% block content %}
<h2>Data of Type "{{ dataType }}"</h2>

<ul>
{% for dIndex, data in dataToShow %}
	<li>{{ dIndex }} - {{ dump(data) }}</li>
{% endfor %}
</ul>
{% endblock %}