{% extends 'sky/base.html.twig' %}

{% block title %}Endless Sky Editor{% endblock %}

{% block content %}
<h2>Endless Sky Data Viewer</h2>

<p><a href="{{ path('SkyEditMap') }}">Galaxy Map</a></p>
<p><a href="{{ path('SkyEditShips') }}">Ship List</a></p>
<p><a href="{{ path('SkyNewConversation') }}">Create Conversation</a></p>
<p><a href="{{ path('SkyLoadConversationForm') }}">Load Conversation</a> - paste in an externally-created conversation to edit in the ESEdit Conversation Editor (warning: still WIP, stuff <em>will</em> break)</p>

{% endblock %}