{% extends 'sky/base.html.twig' %}

{% block title %}Endless Sky Editor{% endblock %}

{% block content %}
<h2>Endless Sky Data Viewer</h2>

<p><a href="{{ path('SkyEditMap') }}">Galaxy Map</a></p>
<p><a href="{{ path('SkyEditShips') }}">Ship List</a></p>

{% endblock %}