{% extends 'sky/base.html.twig' %}

{% block title %}Ships ~ Endless Sky Editor{% endblock %}
{% block stylesheets %}
<style>
.category {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.ship {
	display: grid;
	grid-template-columns: 20em auto;
	flex-grow: 1;
	border: 4px ridge darkgreen;
	cursor: pointer;
	padding: 1em;
}
.ship:hover {
	background-color: darkgray;
}
.category a {
	flex-grow: 1;
	display: grid;
	grid-template-columns: auto;
	text-decoration: none;
}
.shipName {
	align-self: center;
	text-align: center;
}
.shipThumbnail {
	align-self: center;
	text-align: center;
}
.categoryHeader {
	background-color: rgb(50,50,50);
	border: 4px outset darkslateblue;
	padding: 1em;
	font-size: 150%;
	text-align: center;
	flex-grow: 5;
}
</style>
{% endblock %}

{% block content %}
<script src="{{ path("SkyColorsJS") }}"></script>
<script src="{{ path("SkySpritesJS") }}"></script>
<script src="{{ path("SkyOutfitsJS") }}"></script>
<script src="{{ path("SkyShipsJS") }}"></script>
<script>
var humanShipyards = ["Basic Ships","Tarazed Basics","Tarazed Advanced","Southbound Basics","Southbound Advanced","Lionheart Basics","Lionheart Advanced","Betelgeuse Basics","Betelgeuse Advanced","Navy Basics","Navy Advanced","Megaparsec Basics","Megaparsec Advanced","Syndicate Basics","Syndicate Advanced","Northern Pirates","Advanced Northern Pirates","Southern Pirates","Advanced Southern Pirates","Core Pirates","Advanced Core Pirates","Luxury Ships"];
var shipCategories = {};
var shipImages = [];
$(function() {
	for (var shipId in ships) {
		var ship = ships[shipId];
		if (spoilerFree) {
			var isSpoiler = true;
			for (var i in ship.shipyards) {
				if (humanShipyards.includes(ship.shipyards[i])) {
					isSpoiler = false;
					break;
				}
			}
			if (isSpoiler) {
				continue;
			}
		}
		ship.attributesOutfit = outfits[ship.trueModelName+" Base Attributes"];
		if (ship.variantName) {
			continue;
		}
		if (shipCategories[ship.attributesOutfit.category] == undefined) {
			shipCategories[ship.attributesOutfit.category] = [];
		}
		shipCategories[ship.attributesOutfit.category].push(ship);
		if (ship.thumbnailId) {
			var shipImage = new Image();
			var thumbnailSprite = sprites[ship.thumbnailId];
			shipImage.src = '/skyImage/'+thumbnailSprite.paths[0];
			shipImages.push(shipImage);
		} else {
			var shipImage = new Image();
			var shipSprite = sprites[ship.spriteId];
			if (shipSprite) {
				shipImage.src = '/skyImage/'+shipSprite.paths[0];
				shipImages.push(shipImage);
			}
		}
	}
	$("#shipList").html('');
	for (var categoryName in shipCategories) {
		$("#shipList").append('<div class="categoryHeader">'+categoryName+'</div>');
		var shipCategory = '<div class="category">';
		for (var shipIndex in shipCategories[categoryName]) {
			var ship = shipCategories[categoryName][shipIndex];
			var shipDisplay = '<a href="/sky/ship/'+ship.id+'"><div class="ship" id="ship-'+ship.id+'">';
			shipDisplay += '<div class="shipName">'+ship.trueModelName;
			if (ship.variantName) {
				shipDisplay += ' ('+ship.variantName+')';
			}
			shipDisplay += '</div>';
			if (ship.thumbnailId) {
				var thumbnailSprite = sprites[ship.thumbnailId];
				shipDisplay += '<div class="shipThumbnail"><img src="/skyImage/'+thumbnailSprite.paths[0]+'"></div>';
			} else {
				var shipSprite = sprites[ship.spriteId];
				if (shipSprite) {
					shipDisplay += '<div class="shipThumbnail"><img src="/skyImage/'+shipSprite.paths[0]+'"></div>';
				} else {
					shipDisplay += '<div class="shipThumbnail"><img src="/skyImage/outfit/unknown.png"></div>';
				}
			}
			
			shipDisplay += '</div></a>';
			shipCategory += shipDisplay;
		}
		shipCategory += '</div>';
		$("#shipList").append(shipCategory);
	}
});
</script>

<div id="shipList">Loading ships...</div>
{% endblock %}