<script>
var spoilerFree = Cookies.get('spoilerFree') == undefined ? true : Cookies.get('spoilerFree') == 'true';
function toggleSpoilers() {
	spoilerFree = !spoilerFree;
	Cookies.set('spoilerFree',spoilerFree);
	location.reload();
}
$(function () {
	if (spoilerFree) {
		$("#spoilerSwitch").prop('checked',false);
	} else {
		$("#spoilerSwitch").prop('checked',true);
	}
	$("#spoilerSwitch").switchButton({ on_label: 'Spoilers', off_label: 'Spoiler-Free'});
	$("#spoilerSwitch").on('change', toggleSpoilers);
});
</script>
<div id="skyTop">
	<div id="patreonLink">
		<a href="https://www.patreon.com/delvin_anaris" target="_blank" title="Support the creator on Patreon!"><img src="{{ asset("images/Digital-Patreon-Logo_FieryCoral.png") }}" style="width: 16px; height: 16px;"></a>
	</div>
	<div>
		{% if source is defined %}
		Source: <span id="sourceFile">{{ source['file'] }}</span> (<span id="sourceName">{{ source['name'] }}</span> <span id="sourceVersion">{{ source['version'] }})</span>
		{% endif %}
	</div>
	<div>
	</div>
	<div id="skySpoilerSwitch">
		<input type="checkbox" id="spoilerSwitch" value="1">
	</div>
</div>