{% extends 'base.html.twig' %}

{% block title %}Waffle Accounting Helper{% endblock %}

{% block content %}
{{ form(accountingForm) }}

{% if outputData is defined %}
{% set start = true %}
<table>
	{% for line in outputData %}
	<tr>
		{% for field in line %}
			{% if start %}<th>{{ field }}</th>{% else %}<td>{{ field }}</td>{% endif %}
		{% endfor %}
	</tr>
	{% set start = false %}
	{% endfor %}
</table>
{% endif %}
{% endblock %}