{% extends 'base.html.twig' %}

{% block title %}Whist!{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/spectrum.js') }}"></script>
<script src="{{ asset('js/whist.js') }}"></script>
<script>
</script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/spectrum.css') }}">
<style>
html, body, #content {
	height: 100%;
	width: 100%;
	margin: 0;
}
.whistDialog {
	display: none;
}
.leftRight {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
}
.error {
	color: red;
}
#welcome {
	min-width: 30%;
}
#selectPlayerRow {
	display: grid;
	grid-template-columns: auto 30px 5em;
}
#selectPlayerColor {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid white;
}
#whistGame {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 20em auto 20em;
	grid-template-rows: 10% auto 10%;
}
#deck {
	position: relative;
	left: 0.5em;
	top: 0.5em;
	width: 226px;
	height: 314px;
}
#topPlayers {
	grid-column: span 3;
	display: flex;
	justify-content: space-around;
}
#leftPlayers {
	display: flex;
	align-items: center;
	justify-content: left;
}
#table {
	background-color: saddlebrown;
	display: grid;
	grid-template-rows: 10% auto 10%;
	align-items: start;
	border-radius: 20px;
}
#round {
	position: relative;
	margin: 1em auto;
}
.tableMessage {
	background-color: white;
	padding: 0.5em 1em;
	border-radius: 1em;
	border: 3px solid #623C23;
}
#status {
	margin: 1em auto;
}
#rightPlayers {
	display: flex;
	align-items: center;
	justify-content: right;
}
#me {
	max-width: calc(100vw - 20em);
}
#myHand {
	height: 100%;
	width: 100%;
	border: 3px solid black;
	border-radius: 20px;
	position: relative;
}
.playerContainer {
	width: 10em;
	height: 5em;
	border: 3px solid black;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1.5em auto 1.5em;
	grid-template-columns: 1em auto 1em;
}
.playerName {
	grid-column-start: span 3;
	justify-self: center;
}
.playerScore {
	grid-column-start: span 3;
	justify-self: center;
	width: 100%;
	text-align: center;
}
.handCard {
	width: 226px;
	height: 314px;
	position: absolute;
}
.otherPlayerCards {
	position: relative;
}
.otherCard {
	width: 1.44em;
	height: 2em;
}
.otherCardContainer {
	position: absolute;
}
.handCardCover {
	width: 226px;
	height: 314px;
}
#myHandCard1 {
	left: 44px;
	z-index: 1;
}
#myHandCard2 {
	left: 88px;
	z-index: 2;
}
#myHandCard3 {
	left: 132px;
	z-index: 3;
}
#myHandCard4 {
	left: 176px;
	z-index: 4;
}
#myHandCard5 {
	left: 220px;
	z-index: 5;
}
#myHandCard6 {
	left: 264px;
	z-index: 6;
}
#myHandCard7 {
	left: 308px;
	z-index: 7;
}
</style>
{% endblock %}

{% block content %}
<div id="whistGame" style="display: none;">
	<div id="topPlayers">
	</div>
	<div id="leftPlayers">
		<div id="player2" class="playerContainer"></div>
	</div>
	<div id="table">
		<div id="round" class="tableMessage">Round 1: 1 Ascending</div>
		<div id="deck"><img src="https://deckofcardsapi.com/static/img/back.png"></div>
		<div id="status" class="tableMessage">Waiting on Gatherer</div>
	</div>
	<div id="rightPlayers">
		<div id="player3" class="playerContainer"></div>
	</div>
	<div id="sw">
	</div>
	<div id="me">
		<div id="myHand"></div>
	</div>
	<div id="se">
	</div>
</div>
<div class="whistDialog" id="welcome" title="Welcome!">
	<p>Welcome to Collett Whist! If you have already registered, please select your name below. Otherwise, please select "New Player".</p>
	<div id="selectPlayerRow"><div>Known Players: <select name="selectPlayer" onchange="updateSelectPlayerColor();" id="selectPlayerList"><option disabled>Loading...</option></select></div> <div id="selectPlayerColor"></div> <button type="button" id="selectPlayerButton" onclick="selectPlayer();">Select</button></div>
</div>
<div class="whistDialog" id="newPlayer" title="New Player">
	<p>Please enter your name, and select a color to represent you from the list.</p>
	<p>Name: <input type="text" name="playerName" id="newPlayerName" size="20"></p>
	<p>Color: <input type="text" id="newPlayerColor"></p>
	<p><button type="button" onclick="createPlayer()">Create Player</button></p>
</div>
<div class="whistDialog" id="newGame" title="New Game">
	<p id="newGameText"></p>
	<p><button id="createGameButton" onclick="showGameNameDialog();">Create Game</button> <button id="joinGameButton" onclick="showJoinDialog();">Join Game</button></p>
</div>
<div class="whistDialog" id="createGame" title="Create Game">
	<p>Please enter a name for the game.</p>
	<div id="createGameErrors" class="error"></div>
	<div class="leftRight">
		<div>Game Name:</div><div><input type="text" name="newGameName" id="newGameName" style="width: 7em;"></div>
	</div>
	<p><button id="createGame2Button" onclick="createGame();">Create</button></p>
</div>
<div class="whistDialog" id="joinGame" title="Join Game">
	<p>Please select a game to join:</p>
	<div id="joinGameList">
		<li>(No games yet available)</li>
	</div>
	<p><button id="joinGame2Button" onclick="joinGame();">Join</button></p>
</div>
<div class="whistDialog" id="gatherGame" title="Gathering">
	<p>You are now gathering players for the game named "<span id="gatherGameName"></span>"</p>
	<p>Current Players:
		<ul id="gatherPlayerNames">
		</ul>
	</p>
	<p style="text-align: center;"><button id="startGameButton" disabled onclick="startGame();">Start Game</button></p>
</div>
<div class="whistDialog" id="waitForGame" title="Joining Game">
	<p>Waiting for other players to finish joining...</p>
	<ul id="joinPlayerNames">
	</ul>
	<p style="text-align: center;"><button id="cancelJoinButton" onclick="cancelJoin();">Cancel Joining</button></p>
</div>
{% endblock %}