<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.switchButton.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/waffle-broom-57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/waffle-broom-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/waffle-broom-72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/waffle-broom-144.png" />
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.switchButton.js"></script>
    <script src="/js/waffle.js?v=3"></script>
    {% block stylesheets %}<link rel="icon" href="/images/waffle-broom.png">
    <link rel="stylesheet" href="/css/waffle.css?v=3">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <title>{% block title %}Waffle Tracking{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
